<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>DIETAS JÁ! | Alterar</title>
</head>
<body>
    {{#if message}}
        <h5 class="alert alert-danger mt-5">{{ message }}</h5>
    {{/if}}
    <main class="container-sm mt-5">
        <h1 class="mb-5">
            <a href="./"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 18 20">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg></a>
            Alterar</h1>
        <form action="/auth/configuration" method="POST" class="row g2 justify-content-md-center">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{post.nome}}">
            </div>

            <div class="mb-3 col-6">
                <label for="altura" class="form-label">Altura (cm)</label>
                <input type="text" class="form-control" id="altura" name="altura" value="{{post.altura}}">
            </div>
            <div class="mb-3 col-6">
                <label for="peso" class="form-label">Peso (kg)</label>
                <input type="text" class="form-control" id="peso" name="peso" value="{{post.peso}}">
            </div>
            <h5 class="mt-4">Sexo</h5>
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino">
                <label class="form-check-label" for="masculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sexo" id="feminino" value="feminino">
                <label class="form-check-label" for="feminino">
                    Feminino
                </label>
            </div>
            <h5 class="mt-4">Objetivo</h5>
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="meta" id="ganhar" value="ganhar">
                <label class="form-check-label" for="ganhar">
                    Ganhar massa
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="meta" id="perder" value="perder">
                <label class="form-check-label" for="perder">
                    Perder massa
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-2 col-5">Atualizar</button>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>