html, body, p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background-color:#efefef;
}

::-webkit-scrollbar-thumb{
    background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #db1d0f;
}

.botao{
    background-color: #db1d0f;
    color:#ffffff;
    margin-right:10px;
    font-weight: bold;
    border: 1px solid #82b900;
}

.link{
    color:#82b900;
}

.link:hover{
    color:#72a300;
}

h5{
    font-weight: normal;
}

ul{
    background-color:#0d6efd;
    display: flex;
    list-style: none;
    justify-content: end;
}

ul li{
    padding:10px 10px;
}

ul li a{
    color:white;
    text-decoration: none;
}

ul li a:hover{
    color:cadetblue;
}

.button-holder{
    padding-top:10px;
}

.img-round{
    border-radius: 50%;
}

.avatar-image{
    max-height: 40px;
    width: auto;
}

.nav{
    background-color:white;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding:20px 0;
    top: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.01);
}

.nav-container{
    position: relative;
}

.header{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0;
    padding:20px 0;
    z-index: 3;
}

.config{
    text-align: right;
    padding:0;
}

.card{
    align-items: center;
    border:none;
}

.card-body{
    width: 100%;
    align-items: center;
}

.container-user-info{
    padding:0;
}

.info-usuario{
    width:400px;
    height:100vh;
    background-color:white;
    position: fixed;
    top:0;
    right: -400px;
    padding-top:100px;
    justify-content: center;
    text-align: center;
    box-shadow: -2px 5px 5px rgba(0,0,0,.1);
    transition: all .5s;
    z-index: 2;
}

.user-info{
    color:grey;
}

.user-info span{
    padding: 0 7px;
}

.botao-menu{
    cursor: pointer;
    padding-right:5px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.botao-fechar{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.meta{
    font-size: .9em;
    text-transform: lowercase;
    color: grey;
}

.container-refeicoes{
    margin-top:125px;
}

.refeicao{
    margin-bottom: 30px;
}

.imagem-comida{
    height:360px;
    background-color: #efefef;
    border:1px solid #efefef;
    border-radius:20px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.info-refeicao{
    text-align: left;
    padding-left:30px;
}

.titulo{
    color:black;
    margin-bottom:5px;
}

.info-refeicao h2{
    font-size: 3.2em;
}

.info-refeicao h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4em;
}

.accordion-item{
    margin-top:20px;
}

.ingredientes{
    background: none;
}

.botaoAtualizaRefeicao{
    border-radius: 50%;
    width:40px;
    height:40px;
    position: absolute;
    bottom:15px;
    left:50%;
    transform: translate(-15px, 0);
    border:none;
}

.botaoAtualizaRefeicao:hover{
    background-color: white;
}

.botaoAtualizaRefeicao svg{
    width:22px;
    height:22px;
    color:rgb(13, 113, 243);
}

.info{
    color:darkgrey;
}

.img-holder{
    text-align: center;
}

.logo-login{
    max-width: 320px;
}

.texto-login{
    padding: 40px 0 0 0;
    color:rgb(51, 51, 51);
}

@media only screen and (max-width: 600px) {
    .info-usuario{
        width:100%;
        right: -100%;
        font-size: 1.2em;
    }
  }

  @media only screen and (max-width: 767px) {
    .info-refeicao{
        text-align: center;
        padding:20px 0;
    }
  }


  