h5{
    font-weight: normal;
}

ul{
    background-color:#0d6efd;
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right:20px;
}

ul li{
    padding:10px 10px;
}

ul li a{
    color:white;
    text-decoration: none;
}

ul li a:hover{
    color:cadetblue;
}

.img-round{
    border-radius: 50%;
}

.avatar-image{
    width:50%;
}

.card{
    align-items: center;
    border:none;
}

.user-info{
    font-size: .9em;
    color:grey;
}

.user-info span{
    padding: 0 7px;
}